{{- $block := . -}}

<section id="{{ $block.Params.widget }}" class="home-section wg-about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        {{ partial "widgets/about/profile" $block }}
      </div>
      <div class="col-12 col-lg-8">
        {{ with site.Author.summary }}
          <div class="summary">{{ . | markdownify }}</div>
        {{ end }}

        {{ with site.Author.interests }}
          <div class="interests">
            <h2>{{ i18n "interests_title" | default "Interests" }}</h2>
            <ul>
              {{ range . }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        {{ end }}

        {{ with site.Author.education }}
          {{ partial "widgets/about/education" $block }}
        {{ end }}

        {{ with site.Author.work }}
          {{ partial "widgets/about/experience" $block }}
        {{ end }}

      </div>
    </div>
  </div>
</section>
